h1, p {
    text-align: center;
}

li {
    transition: background-color .2s;
    list-style: none;
}

li:hover {
    background-color: red;
}

li:active {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    text-decoration: line-through;
}