div {
    color: #515263;
}

div:hover {
    border: 1px solid black;
}

div:nth-child(3) {
    background-color: #a9927d;
}

div:nth-child(4) {
    background-color: #21323a;
}

div:nth-child(5) {
    background-color: #7d81a9;
    height: 5em;
}

div:nth-child(6) {
    background-color: #796451;
}

div:nth-child(7) {
    background-color: #dbc2ac;
}

div:nth-child(odd) h3 {
    font-style: italic;
}