.super-mario {
    width: 8em;
}

.goomba {
    width: 5em;
    position: absolute;
    left: 4em;
    top: 17em;
}

.baloon {
    width: 14em;
    position: absolute;
    left: 9.5em;
    top: 3.6em;
}

.bowser {
    width: 15em;
    position: absolute;
    left: 23em;
    top: 6em;
}

.word {
    z-index: 2;
    position: absolute;
    top: 5.6em;
    left: 10em;
}